h1 {
    font-family: "Cinzel Decorative", cursive;
}

h2 {
    display: block;
    font-family: "Lily Script One", cursive;
}

p {
    font-family: "Marck Script", cursive;
}

summary {
    font-family: "Dancing Script", cursive;
}

iframe {
    width: 600px;
    height: 375px;
}

.inline {
    display: inline;
}