a {
  color: blue;
}
a:hover {
  color: #f57c20;
}
input[type="password"] {
  margin: 1em 1em 0 0;
}
button {
  padding: 0.5em 0.7em 0.5em 0.7em;
  margin: 0 0.5em 0 0.5em;
  border: 0;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 0.6em;
}
div {
  margin-top: 1em;
  color: #fa1313;
}
