body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F2%2F4%2F7%2F1022968-owl-city-background-1920x1080-for-full-hd.jpg&f=1&nofb=1&ipt=b882aa2c3dba60b81edca37702f51bb8327ab4ac9898d90b70408dd21b52d7de&ipo=images");
    background-size: 100%;
}

h2 {
    font-family: "Bruno Ace", cursive;
    font-size: 1.7em;
    color: white;
}

.div1 {
    text-align: center;
    width: 630px;
    margin-left: 0;
    margin-top: 60px;
    /* background-color: blue; */
}

.div2 {
    text-align: center;
    width: 630px;
    margin-left: 630px;
    margin-top: -345px;
    /* background-color: green; */
}

.div3 {
    text-align: center;
    margin-left: 315px;
    margin-top: 70px;
    width: 630px;
    /* background-color: red; */
}
