h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 45px;
  color: white;
}

.div1 {
  display: block;
  width: 1254px;
  height: 100px;
  text-align: center;
  background-color: #5dddde;
  border: 5px solid #ddde5d;
}

.div2 {
  width: 1254px;
  height: 25px;
  background-color: #5dddde;
  border-left: 5px solid #ddde5d;
  border-right: 5px solid #ddde5d;
}

.div3 {
  width: 1254px;
  height: 589px;
  background-color: #5dddde;
  border-left: 5px solid #ddde5d;
  border-right: 5px solid #ddde5d;
  border-bottom: 5px solid #ddde5d;
}

a {
  font-family: "Cinzel Decorative", cursive;
  display: inline;
  padding-left: 40px;
  color: #de5ddd;
  transition: color 0.5s;
}

p {
  display: inline;
}

a:hover {
  color: white;
}

.img2 {
  width: 1254px;
}
