.inline {
    display: block;
    height: 400px;
    width: 700px;
}

body {
    background-image: url("https://scontent.fmel16-1.fna.fbcdn.net/v/t39.30808-6/350366200_641388937478469_1014560516744820946_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=uI-IpiiOHaUAX-kU9Xb&_nc_oc=AQle1e0EYIsGpZglZE1tX3SVQhzMck6Ya8vToldIuqrmj_F4sdX0uRC5hCqUfOEfOaY&_nc_ht=scontent.fmel16-1.fna&oh=00_AfCgxe2mbTmP7I_iZCeJ6ewDDd3qRANe1Ot0ZAj0h1nb4g&oe=64A8B619");
    background-size: 100%
}