h2 {
  font-family: 'Bruno Ace SC', cursive;
}

body.dark {
  color: #ffffff;
  background-color: black;
  transition: color 1s;
  transition: background-color 1s;
}

div.dark {
  color: white;
  background-color: black;
  border-bottom: 2px solid white;
  transition: color 1s;
  transition: background-color 1s;
}

body.light {
  color: black;
  background-color: white;
  transition: color 1s;
  transition: background-color 1s;
}

div.light {
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
  transition: color 1s;
  transition: background-color 1s;
}

div.sidebar {
  position: fixed;
  top: 9.5%;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: grey;
  text-align: center;
  transition: transform 1s;
}

div.hidden {
  transform: translateX(-100%);
}

h2.sidebar {
  margin-top: 4em;
  color: black;
  text-align: center;
}

a.sidebar {
  color: black;
  text-decoration: none;
  font-family: 'Bruno Ace SC', cursive;
}

div.main {
  margin-left: 20%;
  margin-right: 5%;
}



div.heading {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
}

div.sidebarHidden {
  margin-left: 0;
  transition: margin-left 1s;
}

h1.heading {
  font-size: 25px;
  font-family: "Bruno Ace SC", cursive;
  text-align: center;
}

p {
  text-align: justify;
}

div.menubar {
  position: fixed;
  margin-top: 50px;
  border-radius: 5px;;
  background-color: rgba(191,191,191,0.5)
}

img.icon {
  /* position: fixed;
  bottom: 40px;
  right: 40px; */
  height: 25px;
}

img.icon1 {
  /* position: fixed;
  bottom: 90px;
  right: 40px; */
  height: 30px;
}
