body {
  background-image: url("Media/Images/wallpaper.png");
}

a {
  color: #a4a4a4;
}

iframe {
  margin-left: 10%;
  height: 200px;
  width: 350px;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-family: Copperplate, monospace;
}

p {
  color: white;
  font-family: copperplate, monospace;
}

audio {
  height: 20px;
  width: 200px;
}

div.play {
  width: 350px;
  color: white;
  font-family: Copperplate, monospace;
  font-size: 1.3em;
  border: 10px ridge #00507a;
  padding: 0.7em;
  background-image: url("Media/Images/wallpaper1.png");
}

div.music {
  width: 85%;
  border: 10px ridge #00507a;
  color: white;
  font-family: Copperplate, monospace;
  font-size: 1.5em;
  padding: 1em;
  background-image: url("Media/Images/wallpaper2.png");
  background-size: 110%;
}

div.talk {
  position: absolute;
  left: 5%;
  width: 40%;
}

table.music {
  margin-left: 150px;
  line-height: 1.5em;
}

div.video {
  width: 45%;
  background-image: url("Media/Images/wallpaper4.png");
  background-size: 100%;
  border: 10px ridge #00507a;
  color: white;
  font-family: Copperplate, monospace;
  font-size: 1.5em;
}

div.video1 {
  position: absolute;
  margin-left: 51%;
  margin-top: -980px;
  width: 45%;
  background-image: url("Media/Images/wallpaper4.png");
  background-size: 100%;
  border: 10px ridge #00507a;
  color: white;
  font-family: Copperplate, monospace;
  font-size: 1.5em;
}

div.up {
  position: fixed;
  /* text-align: center; */
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: #0b5493;
  border-top: 10px ridge #0b5493;
  border-bottom: 10px groove #0b5493;
  border-top-left-radius: 20%;
}

img.imgUp {
  display: block;
  width: 30px;
  margin: 5px auto 0 auto;
}

/* .turn {
  transform: rotateX(360deg);
  transition: tranform 5s;
} */

p.v1 {
  font-size: 0.5em;
  margin-left: 10%;
}
