p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
p.important {
  font-size: 1.5em;
  font-weight: 900;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
}
.italic {
  font-style: italic;
}
.red {
  color: red;
}
.extra-spacing {
  letter-spacing: 1em;
  word-spacing: 1em;
  line-height: 2.4em;
}
h3 {
  text-align: center;
}
p.justify {
  text-align: justify;
}
p.indent {
  text-indent: 1.5em;
}
blockquote {
  font-size: 0.75em;
  color: gray;
}
p.big-margin {
  margin: 10em;
}
.border {
  border: 5px double #0100ff;
  padding: 1em;
}
h4,
p.center {
  text-align: center;
}
h2#id-element {
  color: orange;
}
div#middle {
  margin: 0 3em 0 3em;
  font-family: Arial, Helvetica, sans-serif;
}
img.own-line {
  display: block;
}
img.inset {
  margin-left: 2em;
}
img.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.float-left {
  float: left;
  margin: 0 0.75em 0.5em 0;
}
.clear-wrap {
  clear: both;
}
a {
  color: blue;
}
a:hover {
  color: #f57c20;
}
li {
  margin: 0.2em;
}
ul {
  list-style-type: square;
}
div#middle p {
  font-size: 2em;
}
td,
th {
  border: 5px solid yellowgreen;
  padding: 0.25em;
}
table {
  margin-bottom: 2em;
  border-collapse: collapse;
  text-align: center;
}
table#simple-table {
  width: 20%;
}
table#simple-table td {
  width: 25%;
}
.grey-background {
  background-color: lightgrey;
}
div#assessment-container {
  width: 50%;
  padding: 4em;
  background-color: #0033cc;
}
form#assessment {
  padding: 4em;
  border-radius: 40px;
  border: 20px solid yellow;
  background-color: black;
  color: white;
}
form#assessment label {
  color: white;
}
div#assessment-label {
  text-align: center;
  font-weight: 900;
  font-size: 1.6em;
  color: #1381ff;
}
table#toppings td {
  width: 25%;
  text-align: left;
  border: 0;
}
body {
  margin: 0;
}
fieldset {
  padding: 1.5em;
  border: 3px solid darkgray;
  border-radius: 20px;
}
input[type="text"],
input[type="email"],
textarea {
  font-size: 1em;
  padding: 0.25em;
}
div#submit-assessment {
  text-align: center;
}
input[type="submit"] {
  font-size: 1.2em;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
}
/*
This is how you code a multiline comment in CSS.
I thought I should add it just so I don't forget how it works.
*/
div#width20-center {
  width: 20%;
  margin: 0 auto 0 auto;
  background-image: url(https://www.asmarterwaytolearn.com/gray-gradient-slice.png);
  background-repeat: repeat-x;
}
div#float-left {
  padding: 0.5em;
  border: 4px solid black;
  width: 48%;
  float: left;
}
div#float-right {
  padding: 0.5em;
  border: 4px solid black;
  width: 48%;
  float: right;
}
div.main {
  margin: 8px;
}
div#page-up img {
  width: 15%;
}
div#modern-header img {
  float: left;
  width: 20%;
  margin: 1em 1em 1em 0;
}
div#modern-header h2 {
  padding-top: 3.5em;
}
.margin-top {
  margin-top: 0.2em;
}
img#raptor-link {
  width: 50%;
  margin: 1em 0 1em 0;
  border: 10px solid yellow;
}
#page-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: block;
}
#page-top a {
  width: 40px;
  height: 40px;
  color: #fff;
  background-image: url(https://www.airshow.com.au/vendor/scrolling-nav/btn-top.svg);
  transition: background-image 0.5s;
  display: block;
}
#page-top a:hover {
  background-image: url(https://www.airshow.com.au/vendor/scrolling-nav/btn-top-over.svg);
}
div#nav {
  width: 100%;
}
div#nav ul {
  list-style-type: none;
  padding-left: 0;
}
div#nav ul li {
  margin: 0 0 0.3em 0;
  display: inline;
  width: 19.4%;
  float: left;
  margin-right: 0.5em;
}
div#nav ul li a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5em;
}
div#nav ul li a:hover {
  color: #f57c20;
}
li.background-change {
  background-color: blue;
}
li.background-change:hover {
  background-color: lightblue;
}
li.background-change:active {
  background-color: darkblue;
}
iframe#f22vsf35 {
  border: 2px solid black;
}
div.half-width {
  width: 50%;
  position: relative;
  left: 20%;
}
p.half-width-center {
  width: 50%;
  text-align: center;
}
@media only screen and (min-device-width: 800px) {
  p.fun-font {
    font-family: “Comic Sans MS”, cursive, sans-serif;
  }
}
p.max-size {
  max-width: 150px;
  max-height: 100px;
  overflow: scroll;
}
