p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
p.important {
  font-size: 1.5em;
  font-weight: 900;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
}
.italic {
  font-style: italic;
}
.red {
  color: red;
}
.extra_spacing {
  letter-spacing: 1em;
  word-spacing: 1em;
  line-height: 2.4em;
}
h3 {
  text-align: center;
}
p.justify {
  text-align: justify;
}
p.indent {
  text-indent: 1.5em;
}
blockquote {
  font-size: 0.75em;
  color: gray;
}
p.big_margin {
  margin: 10em;
}
.border {
  border: 5px double #0100ff;
  padding: 1em;
}
h4,
p.center {
  text-align: center;
}
h2#id_element {
  color: orange;
}
div#middle {
  margin: 0 3em 0 3em;
  font-family: Arial, Helvetica, sans-serif;
}
img.own_line {
  display: block;
}
img.inset {
  margin-left: 2em;
}
img.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.float_left {
  float: left;
  margin: 0 0.75em 0.5em 0;
}
.clear_wrap {
  clear: both;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #f57c20;
}
li {
  margin: 0.2em;
}
ul {
  list-style-type: square;
}
div#middle p {
  font-size: 2em;
}
td,
th {
  border: 5px solid yellowgreen;
  padding: 0.25em;
}
table {
  margin-bottom: 2em;
  border-collapse: collapse;
  text-align: center;
}
table#simple_table {
  width: 20%;
}
table#simple_table td {
  width: 25%;
}
.grey_background {
  background-color: lightgrey;
}
form#assessment {
  padding: 4em;
  width: 40%;
  border-radius: 40px;
  border: 10px solid yellow;
  background-color: black;
  color: white;
}
form#assessment label {
  color: white;
}
div#assessment_label {
  text-align: center;
  font-weight: 900;
  font-size: 1.6em;
  color: #1381ff;
}
table#toppings td {
  width: 25%;
  text-align: left;
  border: 0;
}
fieldset {
  padding: 1.5em;
  border: 3px solid darkgray;
  border-radius: 20px;
}
input[type="text"],
input[type="email"],
textarea {
  font-size: 1em;
  padding: 0.25em;
}
div#submit_assessment {
  text-align: center;
}
input[type="submit"] {
  font-size: 1.2em;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
}
/*
This is how you code a multiline comment in CSS.
I thought I should add it just so I don't forget how it works.
*/
div#width20_center {
  width: 20%;
  margin: 0 auto 0 auto;
}
div#float_left {
  padding: 0.5em;
  border: 4px solid black;
  width: 48%;
  float: left;
}
div#float_right {
  padding: 0.5em;
  border: 4px solid black;
  width: 48%;
  float: right;
}
