body {
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F_3bHFLy1EZYE%2FS9WrNTVl0rI%2FAAAAAAAAAGU%2FOJm9AM3CIRY%2Fs1600%2Fowl-city-vanilla-twilight-1024x425.jpg&f=1&nofb=1&ipt=d72a1151f82109efa5638f64626484ee358406dc7eb3ac5f126646ec31111400&ipo=images"); */
  /* background-color: #fe9fff; */
  background-image: url("http://getwallpapers.com/wallpaper/full/9/1/6/101497.jpg");
  text-align: center;
}




h1 {
  font-family: "Bruno Ace", cursive;
  color: #95eafc;
  font-size: 50px;
}

div.video-container {
  height: 404px;
  width: 704px;
  border: 5px solid #95eafc;
  margin-left: 21%;
}

div {
  margin-top: 70px;
}

iframe {
  height: 400px;
  width: 700px;
}
