audio {
  height: 25px;
  z-index: 1;
}

h2 {
  font-family: "Bruno Ace SC", cursive;
  font-size: 1.8em;
}

body.light {
  color: white;
  background-color: white;

  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2446128.jpg&f=1&nofb=1&ipt=c48086bf381caf0a8693438b7da95434ed6081599ee42f5a0dab20641f407869&ipo=images");
}

div.light {
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
}

div.sidebar {
  color: white;
  position: fixed;
  top: 9.5%;
  left: 0;
  width: 15%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-4MRm475WWwM%2FUEN_vpNdlvI%2FAAAAAAAAAuY%2FMBLR3uBnDSM%2Fs1600%2FBlue%252Bwallpapers%252B4.jpg&f=1&nofb=1&ipt=cc68d8e1e8839202822a09c2abd21a9498908901c40135fd36789521878d9ce0&ipo=images");
}

div.hidden {
  transform: translateX(-100%);
}

h3.sidebar {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: "Bruno Ace SC", cursive;
  text-align: center;
}

a.sidebar {
  text-decoration: none;
  cursor: pointer;
  font-family: "Bruno Ace SC", cursive;
}

div.main {
  margin-left: 20%;
  margin-right: 5%;
  font-family: "Copperplate CC", serif;
}

div.heading {
  z-index: 2;
  color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-4MRm475WWwM%2FUEN_vpNdlvI%2FAAAAAAAAAuY%2FMBLR3uBnDSM%2Fs1600%2FBlue%252Bwallpapers%252B4.jpg&f=1&nofb=1&ipt=cc68d8e1e8839202822a09c2abd21a9498908901c40135fd36789521878d9ce0&ipo=images");
}

div.sidebarHidden {
  margin-left: 0;
  transition: margin-left 1s;
}

h1.heading {
  font-size: 37px;
  font-family: "Bruno Ace SC", cursive;
  text-align: center;
}

p {
  margin-right: 150px;
  margin-left: 50px;
  text-align: justify;
  font-size: 25px;
  font-family: "Copperplate", sans-serif;
  /* font-family: "Andalé Mono", monospace; */
  /* font-family: "Monaco", monospace; */
}

div.menubar {
  position: fixed;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgba(191, 191, 191, 0.5);
}

img.icon {
  /* position: fixed;
    bottom: 40px;
    right: 40px; */
  height: 25px;
}

img.icon1 {
  /* position: fixed;
    bottom: 90px;
    right: 40px; */
  height: 30px;
}

.karaoke {
  margin-left: -2px;
  margin-top: -1px;
  font-family: "Bruno Ace SC", cursive;
}
