div.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding-top: 30px;
  background-color: #49aeeb;
  border-right: 10px groove #49aeeb;
  z-index: 1;
  text-align: center;
}

div.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 13%;
  height: 9%;
  background-color: #0fb6e5;
  border-left: 10px ridge #59c9e8;
  border-top: 10px ridge #59c9e8;
  border-top-left-radius: 30px;
  text-align: center;
  align-items: center;
}

div.footer:active {
  background-color: #76defe;
}

div.header {
  position: fixed;
  display: inline;
  top: 0;
  right: 0;
  width: 80%;
  height: 15%;
  background-color: #3ac4ff;
  border-bottom: 10px groove #3ac4ff;
}

div.main {
  margin-top: 15%;
  margin-left: 20%;
  text-align: center;
  align-items: center;
}

h2.decorative {
  font-family: Copperplate, cursive;
  font-size: 2em;
  color: #012c6d;
  text-align: center;
}

h1.decorative {
  font-family: "Copperplate", cursive;
  color: #012c6d;
  /* 4030ff */
  text-align: center;
  font-size: 3em;
}

a {
  color: #7cf4fe;
  text-decoration: none;
  font-family: Copperplate, serif;
  font-size: 1.3em;
  transition: color 0.5s;
}

a:hover {
  color: #003488;
}

h2 {
  text-align: center;
}

img.logo {
  margin-top: -7.5%;
  margin-bottom: -5%;
  height: 575px;
}

img.footer {
  padding-top: 3px;
  padding-left: 3px;
  height: 55px;
}

img.sidebar {
  position: absolute;
  height: 220px;
  margin-left: -170px;
  margin-bottom: 70px;
}

img.header {
  height: 100px;
  position: absolute;
  right: -5px;
  top: -5px;
}

.p1 {
  color: #49aeeb;
}

.p1:hover {
  color: #49aeeb;
}
