div.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: aquamarine;
  z-index: 1;
}

div.main {
  margin-left: 20%;
}

body {
  align-items: center;
}
a {
  color: blue;
}
a:hover {
  color: #ff41fb;
  transition: color .5s;
}

h2 {
  text-align: center;
}

img {
  width: 10em;
}
