h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: left;
  height: 5px;
}

a {
  color: goldenrod;
}

a:hover {
  color: lightsalmon;
  text-decoration: none;
}

a:active {
  color: salmon;
  text-decoration: none;
}

a:visited {
  color: lightpink;
}

#noreason {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h4,
p.gothic {
  text-align: center;
  font-family: Copperplate, sans-serif;
}

div.list {
  color: white;
  background-color: black;
  border-left: 10px groove white;
  border-bottom: 10px ridge white;
  border-right: 10px ridge white;
  border-top: 10px groove white;
  padding: 1.5em;
  width: 15%;
}

h2.list {
  font-family: "Norican", cursive;
}

ol {
  list-style-type: lower-roman;
}

li {
  margin: 0.75em;
  font-family: "Norican", cursive;
}

div.lyrics {
  text-align: left;
  width: 25%;
  padding: 2em;
  color: white;
  font-size: 0.98em;
  font-family: "Appel Chancery", cursive;
}

div.lyrics p {
  font-size: 0.9em;
  font-family: "Appel Chancery", cursive;
}

div.never {
  position: absolute;
  background-color: #53585b;
  border: 10px ridge #c4c4c4;
}

div.swimming {
  position: absolute;
  margin-left: 35%;
  background-color: lightseagreen;
  border: 10px ridge #b8fbf7;
}

div.lyrics h3 {
  text-align: left;
}

div.lyrics audio {
  height: 1.5em;
}

.gothic {
  margin-left: 25%;
  margin-right: 25%;
}

h4 {
  font-size: 2em;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

p.moreReadable {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.8em;
  text-indent: 1em;
  margin-left: 6em;
}

div.gallery {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
}

.emphasized {
  font-style: italic;
}

.div1 {
  border: 10px ridge #0d580c;
  margin-right: 20%;
  padding-right: 50px;
}

.evanescence {
  color: #0d580c;
}

a.up {
  position: fixed;
  right: 0;
  bottom: 0;
}

img.up {
  height: 40px;
}

img.gallery {
  display: inline;
  height: 150px;
}

img.gallery:hover {
  cursor: zoom-in;
}

blockquote {
  font-family: "Norican", cursive;
  font-size: 2em;
  text-align: left;
  font-variant: small-caps;
}

.bord {
  text-align: center;
  margin-left: 20em;
  margin-right: 20em;
}

.border1 {
  border: 10px ridge #0dd0e6;
  padding: 0.5em;
}

.border2 {
  border: 10px groove green;
  padding: 0.5em;
}

.border3 {
  border: 10px inset red;
  padding: 0.5em;
}

.border4 {
  border: 10px outset yellow;
  padding: 0.5em;
}

.extreme {
  font-style: italic;
}

#image1 {
  position: absolute;
  margin-left: 500px;
  margin-top: -130px;
  height: 350px;
  opacity: 5%;
  color: #0d580c;
}

.img1 {
  display: block;
  margin: auto;
  height: 300px;
}

.img2 {
  float: left;
  margin: 0 3em 1em 2em;
  height: 350px;
}

.noWrap {
  clear: both;
}

.spooky {
  font-family: copperplate, monospace;
}

iframe {
  width: 400px;
  height: 200px;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  font-family: copperplate, monospace;
  padding: 1em;
}

th {
  font-family: "Apple Chancery", cursive;
  font-size: 1.1em;
  padding: 1em;
}

th.topSide {
  border-bottom: 3px solid black;
}

th.side {
  border-right: 3px solid black;
}
