h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}

p {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

p.important {
    font-size: 1.5em;
    font-weight: 900;
}

.typewriter {
    font-family: "Courier New", Courier, monospace;
}

.italics {
    font-style: italic;
}